/*-------------------------------------
------------FONT FACE------------------
-------------------------------------*/


@font-face {
    font-family: HKGrotesk-MediumItalic;
    src: url("/assets/fonts/HKGrotesk-MediumItalic.otf");
}

@font-face {
    font-family: HKGrotesk-Regular;
    src: url("/assets/fonts/HKGrotesk-Regular.otf");
}

/*-------------------------------------
-----------------BODY------------------
-------------------------------------*/


body {
    background-color: #3A3C83;  
    padding: 30px;
    border: solid 5px #1f2047;
}



/*-------------------------------------
----------------FONTS------------------
-------------------------------------*/

h1{
    font-family: 'HKGrotesk-MediumItalic', sans-serif;
    font-size: 50px;
}

h2{
    font-family: 'HKGrotesk-MediumItalic', sans-serif;
    font-size: 30px;
}

h3{
    font-family: 'Space mono', monospace;
    font-size: 18px;
}

h4{
    font-family: 'Space mono', monospace;
    font-size: 16px;
    margin: 0;
}


p{
    font-family: 'HKGrotesk-Regular', sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

a{
    font-family: 'Space mono', monospace;
    font-size: 18px;
    text-decoration: none;
}

a:hover, a:focus{
    text-decoration: none;
}

a:visited{
    color: #181818;
}


::-moz-selection { background: #181818; }
::selection { background: #181818; }


.text-container{
    margin-bottom: 10%;
    opacity: 0;
}

.text-container--animated{
    transition: 0.8s ease;
    opacity: 1;
}

.text-right{
    text-align: right;
}

/*-------------------------------------
---------------LOADING------------------
-------------------------------------*/



.loading {
    background: #fff;
}

.loading-black {
    background: #181818;
}

.loading-purple {
    background: #3A3C83;
}

section {
    opacity: 0;
    -webkit-transition:opacity .8s;
    -moz-transition:opacity .8s;
    -o-transition:opacity .8s;
    transition: opacity .8s;
}
.loaded section {
    opacity: 1;
}

.logo-rotate{
    -webkit-animation:spin 2s cubic-bezier(.81,.04,.28,.99) infinite;
    -moz-animation:spin 2s cubic-bezier(.81,.04,.28,.99) infinite;
    animation:spin 2s cubic-bezier(.81,.04,.28,.99) infinite;
    transition: 0.3s ease;
    
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.logo-rotate__loaded{
    opacity: 0;
}

/*-------------------------------------
---------------NAVBAR------------------
-------------------------------------*/


.navbar{

}

.navbar ul li a{
    font-family: 'Space mono', monospace;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 0;
    padding-bottom: 5px;
    margin: 0 40px 30px 0;
    transition: 0.2s ease;
    display: inline-block;
}


.navbar ul li a:hover{
    background: none;
    color: #b3b3b3;
}

.active{
    
    border-bottom: solid 2px #fff;
}

.right-logo{
    position: fixed;
    right: 45px;
    top: 45px;
    width: 60px !important; 
    margin: 0 !important;
    z-index: 99999;
}


/*-------------------------------------
--------------LANDING------------------
-------------------------------------*/

#landing h1, #landing h2{
    color: #fff;
}

#landing p, #landing h3{
    color: #b3b3b3;
}

#landing a{
    color: #fff;
    text-decoration: none;
}

#landing portfolio__project:hover{
    color: #fff;
    text-decoration: underline;
}


.title{
    padding-bottom: 40px;
    margin-top: 0px;
    transform: scale(0.95);
    opacity: 0;
    transition: 1s cubic-bezier(.03,.91,.38,.92);
}

.title--animated{
    margin-top: 0px;
    opacity: 1;   
    transform: scale(1);
}



/*-------------------------------------
--------------PORTFOLIO----------------
-------------------------------------*/
.col-sm-4{
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
}


.portfolio{
    margin-bottom: 10%;
}


/*--------bottom image---------------*/

.portfolio__bottom-image{
    width: 45%;
    z-index: 2;
    position: relative;
    -ms-transform: rotate(210deg) skew(-30deg) translate(-100%, -25%) scaleY(0.864);
    -webkit-transform: rotate(210deg) skew(-30deg) translate(-100%, -25%) scaleY(0.864);
    transform: rotate(210deg) skew(-30deg) translate(-100%, -25%) scaleY(0.864);
    opacity: 0;
    transition: 0.4s ease;
    box-shadow: -20px -20px 0px #3A3C83;
}


.portfolio__bottom-image--animated{
    box-shadow: -20px -20px 0px #1f2047;
    opacity: 0.8;
}




/*---------------logo---------------*/


.portfolio__logo-image{
    z-index: 4;
    position: absolute;
    margin-top: 30%;
    opacity: 0;
    transition: 0.3s ease;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    
}

.portfolio__logo-image--animated{
    margin-top: 15%;
    opacity: 1;
}



/*---------------info---------------*/

.portfolio__info h2, .portfolio__info h3{
    text-align: center;
}


.portfolio__info{
    z-index: 5;
    position: absolute;
    bottom: -50%;
    width: 100%;
    padding: 0 15% 0 15%;
    opacity: 0;
    transition: 0.4s ease;
}

/*--------------hover---------------*/

.portfolio__project:hover > .portfolio__bottom-image{
    box-shadow: -20px -20px 0px #1f2047;
    opacity: 0.2;
}

.portfolio__project:hover > .portfolio__logo-image{
    opacity: 0;
    margin-top: 25%;
}

.portfolio__project:hover > .portfolio__info{
    opacity: 1;
    bottom: -30%;
}

/*-------------------------------------
------------GET IN TOUCH---------------
-------------------------------------*/

#get-touch{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}


#get-touch a{
    color: #3A3C83;
    border-bottom: solid 2px;
    transition: 0.2s ease;
}


#get-touch a:hover{
    color: #b3b3b3;
    text-decoration: none;
}


/*-------------------------------------
-----------------FOOTER----------------
-------------------------------------*/

.footer__text p{
    font-family: 'Space mono', monospace;
    font-size: 14px;
    
}

.footer__text{
    float: left;
}

.footer__text--landing{
    margin-top: -30px;
}

.footer__text--landing a{
    font-size: 14px;
    transition: 0.2s ease;
}

.footer__icons{
    float: right;
}

.footer__icons ul{
    list-style: none;
}

.footer__icons ul li{
    float: left;
    margin-left: 15px;
}

.footer__icons ul li a i{
    font-size: 20px;
    color: #fff;
    transition: 0.2s ease;
}

.footer__icons ul li a i:hover, {
    color: #b3b3b3;
}


/*-------------------------------------
----------------IFRAME-----------------
-------------------------------------*/


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-------------------------------------
---------------MARGINS------------------
-------------------------------------*/

.margin-top-20{
    margin-top: 50px;
}


/*-------------------------------------
-------------TEXT COLORS---------------
-------------------------------------*/

.text-black{
    color: #181818;
}

.text-gray{
    color: #b3b3b3;
}

.text-purple{
    color: #3A3C83;
}

.text-dark-gray{
    color: #333;
}

/*-------------------------------------
-------------LINKS COLORS--------------
-------------------------------------*/

.link-black{
    color: #181818;
    transition: 0.2s ease;
}

.link-black:hover{
    color: #b3b3b3;
}

.link-gray{
    color: #b3b3b3;
    transition: 0.2s ease;
}

.link-gray:hover{
    color: #3A3C83;
}

.link-purple{
    color: #3A3C83;
    transition: 0.2s ease;
}

.link-purple:hover{
    color: #181818;
}





/*-------------------------------------
-----------MEDIA QUERIES---------------
-------------------------------------*/

@media (max-width:1000px) {
    h2{
        font-size: 20px;
    }
    
    h3{
        font-size: 18px;
    }
}


@media (max-width:767px) { 
    body{
        padding: 5px;
    }
    
    
    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 20px;
    }
    
    h3{
        font-size: 18px;
    }
    
    
    .title{
        padding-bottom: 20px;
    }
    
    /*----------NAVBAR-----------*/
    
    .navbar ul li a{
        font-family: 'Space mono', monospace;
        font-size: 18px;
        color: #fff;
        letter-spacing: 0.5px;
        padding: 0;
        margin: 0 30px 10px 15px;
    }
    
    
    .right-logo{
        position: fixed;
        right: 20px;
        top: 20px;
        width: 40px !important;
        margin: 0 !important;
        z-index: 99999;
    }
    
    /*----------PORTFOLIO-----------*/
    
    .col-sm-4{
        margin-bottom: 70%;
    }
    
    
    .portfolio__info{
        z-index: 5;
        position: absolute;
        bottom: -150%;
        width: 100%;
        padding: 0 15% 0 15%;
        opacity: 1;
        transition: 0.4s ease;
    }
    
    .portfolio__info h2{
        text-decoration: underline;
    }
    
    .portfolio__info h3{
        margin-top: 0px;
    }
    
    .portfolio{
        margin-bottom: 30%;
    }
    
    .text-container{
        margin-bottom: 30%;
    }
    
    /*----------FOOTER-----------*/
    
    .footer__icons{
        margin-bottom: 15px;
        text-align: center;
    }
    
    .footer__icons ul li{
        margin-left: 20px;
    }
    
    .footer__icons ul li a i{
        font-size: 25px;
    }
    
}
